**/.DS_Store
build/volumes

# Eclipse artifacts and output dirs
**/.project
**/.settings
**/.classpath
**/target
**/factorypath

# terraform
**/.terraform/*
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
